extends layout

block content
  h1 #{title}: #{bookinstance.book.title}
  h5 Id: #{bookinstance._id} 
  
  p Do you really want to delete this Book Copy?

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

    button.btn.btn-danger(type='submit') Delete